<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trongnghia.shipwizard_v11" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".LogIn.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LogIn.DispatchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LogIn.LoginActivity" />
        <activity android:name=".LogIn.SignUpActivity" />
        <activity android:name=".LogIn.SignUpOrLoginActivity" />
        <activity android:name=".LogIn.Forget_password" />
        <activity android:name=".SlideMenu.MainActivity" />
        <activity
            android:name=".SlideMenu.OtherActivity"
            android:label="Custom Activity"
            android:parentActivityName=".NewTransaction.View_Transaction" >
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".NewTransaction.View_Transaction" />

        <activity
            android:name=".NewTransaction.View_Transaction"
            android:label="@string/title_activity_view__transaction" >
        </activity>
        <activity
            android:name=".NewTransaction.Post_Transaction"
            android:label="@string/title_activity_post__transaction"
            android:parentActivityName=".NewTransaction.View_Transaction" >
        </activity>
        <activity
            android:name=".Slidemenu_Items.Slidemenu_About"
            android:label="@string/title_activity_slidemenu__about"
            android:parentActivityName=".NewTransaction.View_Transaction" >
        </activity>
        <activity
            android:name=".Slidemenu_Items.Slidemenu_Setting"
            android:label="@string/title_activity_slidemenu__setting"
            android:parentActivityName=".NewTransaction.View_Transaction">
        </activity>
        <activity
            android:name=".Slidemenu_Items.Slidemenu_Feedback"
            android:label="@string/title_activity_slidemenu__feedback"
            android:parentActivityName=".NewTransaction.View_Transaction" >
        </activity>
    </application>

</manifest>
